body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
.flexbox-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
    width: 1200px;
   height: 540px;

}

.flexbox-rectangle{
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 10px;
    border-radius: 8px;
}

.item-container{
    width: 468px;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.flexbox-item{
    width: 78px;
    height: 78px;
    background-color: darkred;
    margin: 0 0px 20px 20px;
    border-radius: 4px;
}

.item-container-1{
    width: 468px;
    height: 160px;
    display: flex;
    justify-content: center;
}

.flexbox-item-1{
    width: 78px;
    background-color: darkred;
    margin: 20px 10px 20px 10px;
    align-items: stretch;
    min-height: 78px;
    border-radius: 4px;
}

.item-container-2{
    width: 468px;
    height: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-item2{
    width: 78px;
    height: 78px;
    background-color: darkred;
    margin-right: 20px;
    border-radius: 4px;
}

.item-container-3{
    width: 468px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flexbox-item3, .flexbox-item3-1{
    width: 78px;
    height: 78px;
    background-color: darkred;
    margin: 20px;
    border-radius: 4px;
}

.flexbox-item3-1{
    align-self: flex-end;
    border-radius: 4px;
}

.item-container-4{
    width: 468px;
    height: 160px;
    display: flex;
    justify-content: center;
}

.flexbox-item4{
    width: 78px;
    background-color: darkred;
    margin: 20px;
    align-items: stretch;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item4-1{
    width: 78px;
    height: 64px;
    align-self: center;
    background-color: darkred;
    border-radius: 4px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.item-container-5{
    width: 468px;
    height: 160px;
    display: flex;
    align-items: center;
}

.flexbox-item5{
    width: 78px;
    height: 78px;
    background-color: darkred;
    border-radius: 4px;
    margin: 20px;
}

.flexbox-item5-1{
    width: 78px;
    height: 78px;
    background-color: darkred;
    flex-grow: 2;
    border-radius: 4px;
}



